{% extends "layout.html" %} {% block content %}
<table class="table table-bordered cmpr-table count-6">
	<thead></thead>
	<br />
	<h1>Purchases</h1>
	<hr />
	<tbody>
		<tr>
			<td class="value">ID</td>
			<td class="value">Purchase Date</td>
			<td class="value">Approval Date</td>
			<td class="value">Info</td>
			<td class="value">Address</td>
			<td class="value">Bought By</td>
		</tr>
		{% for purchase in purchases %}
		<tr>
			<td class="value">
				<a href="{{ url_for('sales.info', purchase_id=purchase.id) }}">
					{{ purchase.id }}
				</a>
			</td>
			<td class="value">
				<a href="{{ url_for('sales.info', purchase_id=purchase.id) }}">
					{{ purchase.purchase_date }}
				</a>
			</td>

			<td class="value">
				{% if purchase.approval_date %}
				<a href="{{ url_for('sales.info', purchase_id=purchase.id) }}">
					{{ purchase.approval_date }}
				</a>
				{% else %}
				<form
					action="{{ url_for('admin.approve_purchase', purchase_id=purchase.id) }}"
					method="POST"
				>
					<button type="submit">Approve</button>
				</form>
				{% endif %}
			</td>

			<td class="value">{{ purchase.info }}</td>
			<td class="value">{{ purchase.address }}</td>
			<td class="value">{{ purchase.bought_by }}</td>
		</tr>

		{% endfor %}
	</tbody>
</table>
{% endblock content %}
