{% extends "layout.html" %} {% block content %}
<div class="container ac-layout">
	<h1>Edit Product</h1>
	<a href="{{ url_for('product.product_view', product_id=product.id) }}">
		Go to user view
	</a>
	<hr />
	<br /><br />
	<form
		action="{{ url_for('admin.edit_product', product_id=product.id) }}"
		method="post"
		enctype="multipart/form-data"
		class="form-horizontal"
	>
		<div class="form-group">
			<label for="input-id">ID </label>
			<input
				type="text"
				name="id"
				value="{{ product.id }}"
				placeholder="ID"
				id="input-id"
				readonly=""
				class="form-control"
			/>
		</div>
		<div class="form-group">
			<label for="input-name">Name</label>
			<input
				type="text"
				name="name"
				value="{{ product.name }}"
				placeholder="Name"
				id="input-name"
				class="form-control"
			/>
		</div>
		<div class="multiple-form-group">
			<div class="form-group">
				<label for="input-base-price">Base Price </label>
				<input
					type="number"
					name="base_price"
					value="{{ product.base_price }}"
					placeholder="Base Price"
					id="input-baseprice"
					class="form-control"
				/>
			</div>
			<div class="form-group">
				<label for="input-discount">Discount</label>
				<input
					type="number"
					min="0"
					max="1"
					step="0.01"
					name="discount"
					value="{{ product.discount }}"
					placeholder="Discount"
					id="input-discount"
					class="form-control"
				/>
			</div>
		</div>
		<div class="form-group">
			<label for="input-rating">Rating</label>
			<input
				type="number"
				min="0"
				max="5"
				step="1"
				name="rating"
				value="{{ product.rating }}"
				placeholder="Rating"
				id="input-rating"
				class="form-control"
			/>
		</div>
		<div class="multiple-form-group">
			<div class="form-group">
				<label for="input-category">Category</label>
				<input
					type="text"
					name="category"
					value="{{ product.category }}"
					placeholder="Category"
					id="input-category"
					readonly=""
					class="form-control"
				/>
			</div>
			<div class="form-group">
				<label for="input-subcategory">Subcategory</label>
				<input
					type="text"
					name="subcategory"
					value="{{ product.subcategory }}"
					placeholder="Subcategory"
					id="input-subcategory"
					readonly=""
					class="form-control"
				/>
			</div>
			<div class="form-group">
				<label for="input-brand">Brand</label>
				<input
					type="text"
					name="brand"
					value="{{ product.brand }}"
					placeholder="Brand"
					id="input-brand"
					readonly=""
					class="form-control"
				/>
			</div>
		</div>
		<div class="multiple-form-group">
			<div class="form-group">
				<label for="input-stock">Stock</label>
				<input
					type="number"
					name="stock"
					value="{{ product.stock }}"
					placeholder="stock"
					id="input-stock"
					class="form-control"
				/>
			</div>
			<div class="form-group">
				<label for="input-year">Year</label>
				<input
					type="number"
					name="year"
					value="{{ product.year }}"
					placeholder="year"
					id="input-year"
					class="form-control"
				/>
			</div>
		</div>
		<div class="form-group">
			<label for="input-image">Add Image(s)</label>
			<input
				type="file"
				name="image"
				placeholder="Image"
				id="input-add-image"
				class="form-control"
				accept=".jpg, .jpeg, .png"
				multiple
			/>
		</div>
		<div class="form-group">
			<label for="input-EMI">EMI</label>
			<input
				type="number"
				name="EMI"
				value="{{ product.EMI }}"
				placeholder="EMI"
				id="input-EMI"
				class="form-control"
			/>
		</div>
		{% for spec_name in product.spec_dict %}
		<div class="form-group">
			<label for="input-{{ spec_name }}">{{spec_name}}</label>
			<input
				type="text"
				name="specdict-{{ spec_name }}"
				value="{{ product.spec_dict[spec_name] }}"
				placeholder="{{ spec_name }}"
				id="input-{{ spec_name }}"
				class="form-control"
			/>
		</div>
		{% endfor %}

		<button
			type="submit"
			name="action"
			value="Update"
			class="btn btn-primary"
		>
			Update
		</button>
		<button
			type="submit"
			name="action"
			value="Delete"
			class="btn btn-primary"
		>
			Delete
		</button>
	</form>
	<br /><br />
	<hr />
	<br /><br />
	<form
		action="{{ url_for('admin.edit_product', product_id=product.id) }}"
		method="post"
		enctype="multipart/form-data"
		class="form-horizontal"
	>
		<h1>Add New Specification</h1>
		<div class="multiple-form-group">
			<div class="form-group required">
				<label for="input-attr-name"> Spec Attribute Name </label>
				<input
					type="text"
					name="attr_name"
					placeholder="New Attribute"
					id="input-attr-name"
					class="form-control"
					required
				/>
			</div>
			<div class="form-group required">
				<label for="input-attr-value">Spec Attribute Value</label>
				<input
					type="text"
					name="attr_value"
					placeholder="New Attribute Value"
					id="input-attr-value"
					class="form-control"
					required
				/>
			</div>
		</div>
		<button
			type="submit"
			name="action"
			value="Add New Specification"
			class="btn btn-primary"
		>
			Add
		</button>
	</form>
</div>
{% endblock content %}
