{% extends "layout.html" %} {% block content %}
<div class="container ac-layout">
	<h1>Create Product</h1>
	<hr />
	<br /><br />
	<form
		action="{{ url_for('admin.create_product') }}"
		method="post"
		enctype="multipart/form-data"
		class="form-horizontal"
	>
		<div class="form-group required">
			<label for="input-name">Name</label>
			<input
				type="text"
				name="name"
				placeholder="Name"
				id="input-name"
				class="form-control"
				required
			/>
		</div>
		<div class="multiple-form-group">
			<div class="form-group required">
				<label for="input-base-price">Base Price </label>
				<input
					type="number"
					name="base_price"
					value="0"
					placeholder="Base Price"
					id="input-baseprice"
					class="form-control"
					required
				/>
			</div>
			<div class="form-group required">
				<label for="input-discount">Discount</label>
				<input
					type="number"
					name="discount"
					min="0"
					max="1"
					step="0.01"
					value="0"
					placeholder="Discount"
					id="input-discount"
					class="form-control"
					required
				/>
			</div>
		</div>
		<div class="form-group required">
			<label for="input-rating">Rating</label>
			<input
				type="number"
				min="0"
				max="5"
				step="0.5"
				name="rating"
				value="0.0"
				placeholder="Rating"
				id="input-rating"
				class="form-control"
				required
			/>
		</div>
		<div class="multiple-form-group">
			<div class="form-group required">
				<label for="input-category">Category</label>
				<select name="category" id="category-select"></select>
			</div>
			<div class="form-group required">
				<label for="input-subcategory">Subcategory</label>
				<select name="subcategory" id="subcategory-select"></select>
			</div>
			<div class="form-group required">
				<label for="input-brand">Brand</label>
				<select name="brand" id="brand-select"></select>
			</div>
		</div>
		<div class="multiple-form-group">
			<div class="form-group required">
				<label for="input-stock">Stock</label>
				<input
					type="number"
					name="stock"
					placeholder="stock"
					id="input-stock"
					class="form-control"
					required
				/>
			</div>
		</div>

		<button
			type="submit"
			name="action"
			value="Create"
			class="btn btn-primary"
		>
			Create
		</button>
	</form>
	<script>
		const CAT_SUBCAT_BRAND = JSON.parse({{ CAT_SUBCAT_BRAND_DICT | tojson }});

		const categorySelectElem = document.getElementById("category-select");
		const subcategorySelectElem =
			document.getElementById("subcategory-select");
		const brandSelectElem = document.getElementById("brand-select");

		for (let category in CAT_SUBCAT_BRAND) {
			categoryOpt = new Option(category, category);
			categorySelectElem.options.add(categoryOpt);
		}

		function removeAllOptions(selectElem) {
			while (selectElem.options.length) {
				selectElem.options.remove(0);
			}
		}

		categorySelectElem.onchange = function () {
			removeAllOptions(subcategorySelectElem);
			selectedCat = categorySelectElem.options[categorySelectElem.options.selectedIndex].value;
			for (subcat in CAT_SUBCAT_BRAND[selectedCat]) {
				subcategorySelectElem.options.add(new Option(subcat, subcat));
			}
			subcategorySelectElem.onchange();
		};

		subcategorySelectElem.onchange = function () {
			removeAllOptions(brandSelectElem);
			selectedCat = categorySelectElem.options[categorySelectElem.options.selectedIndex].value;
			selectedSubcat = subcategorySelectElem.options[subcategorySelectElem.options.selectedIndex].value;
			for (let brand of CAT_SUBCAT_BRAND[selectedCat][selectedSubcat]) {
				brandSelectElem.options.add(new Option(brand, brand));
			}
		}

		categorySelectElem.onchange();
	</script>
</div>
{% endblock content %}
