{% extends "layout.html" %} {% block content %}
<div class="m-home m-cat">
	<h2 class="m-header">Featured Category</h2>
	<p class="m-blurb">Get Your Desired Product from Featured Category!</p>
	<div class="cat-items-wrap">
		<div class="cat-item">
			<a
				href="https://www.startech.com.bd/laptop-notebook/laptop"
				class="cat-item-inner"
			>
				<span class="cat-icon"
					><img
						src="https://www.startech.com.bd/image/cache/catalog/category-thumb/laptop-48x48.png"
						alt="All Laptop"
						width="48"
						height="48"
				/></span>
				<p>All Laptop</p>
			</a>
		</div>
		<div class="cat-item">
			<a
				href="https://www.startech.com.bd/desktops"
				class="cat-item-inner"
			>
				<span class="cat-icon"
					><img
						src="https://www.startech.com.bd/image/cache/catalog/category-thumb/desktop-48x48.png"
						alt="Desktop"
						width="48"
						height="48"
				/></span>
				<p>Desktop</p>
			</a>
		</div>
		<div class="cat-item">
			<a
				href="{{ url_for('productslist.get_category_subcategory', category='component', subcategory='processor') }}"
				class="cat-item-inner"
			>
				<span class="cat-icon"
					><img
						src="https://www.startech.com.bd/image/cache/catalog/category-thumb/cpu-48x48.png"
						alt="Processor"
						width="48"
						height="48"
				/></span>
				<p>Processor</p>
			</a>
		</div>
		<div class="cat-item">
			<a
				href="https://www.startech.com.bd/component/graphics-card"
				class="cat-item-inner"
			>
				<span class="cat-icon"
					><img
						src="https://www.startech.com.bd/image/cache/catalog/category-thumb/gpu-48x48.png"
						alt="Graphics Card"
						width="48"
						height="48"
				/></span>
				<p>Graphics Card</p>
			</a>
		</div>
		<div class="cat-item">
			<a
				href="https://www.startech.com.bd/component/SSD-Hard-Disk"
				class="cat-item-inner"
			>
				<span class="cat-icon"
					><img
						src="https://www.startech.com.bd/image/cache/catalog/category-thumb/SSD-48x48.png"
						alt="SSD"
						width="48"
						height="48"
				/></span>
				<p>SSD</p>
			</a>
		</div>
		<div class="cat-item">
			<a
				href="{{ url_for('productslist.get_category_subcategory', category='accessories', subcategory='keyboards') }}"
				class="cat-item-inner"
			>
				<span class="cat-icon"
					><img
						src="https://www.startech.com.bd/image/cache/catalog/category-thumb/keyboard-48x48.png"
						alt="Keyboard"
						width="48"
						height="48"
				/></span>
				<p>Keyboard</p>
			</a>
		</div>
		<div class="cat-item">
			<a
				href="https://www.startech.com.bd/accessories/mouse"
				class="cat-item-inner"
			>
				<span class="cat-icon"
					><img
						src="https://www.startech.com.bd/image/cache/catalog/category-thumb/accessories-48x48.png"
						alt="Mouse"
						width="48"
						height="48"
				/></span>
				<p>Mouse</p>
			</a>
		</div>
		<div class="cat-item">
			<a
				href="https://www.startech.com.bd/accessories/headphone"
				class="cat-item-inner"
			>
				<span class="cat-icon"
					><img
						src="https://www.startech.com.bd/image/cache/catalog/category-thumb/headphone-48x48.png"
						alt="Headphone"
						width="48"
						height="48"
				/></span>
				<p>Headphone</p>
			</a>
		</div>
		<div class="cat-item">
			<a
				href="https://www.startech.com.bd/accessories/webcam"
				class="cat-item-inner"
			>
				<span class="cat-icon"
					><img
						src="https://www.startech.com.bd/image/cache/catalog/category-thumb/webcam-48x48.png"
						alt="Webcam"
						width="48"
						height="48"
				/></span>
				<p>Webcam</p>
			</a>
		</div>
		<div class="cat-item">
			<a
				href="https://www.startech.com.bd/office-equipment/printer"
				class="cat-item-inner"
			>
				<span class="cat-icon"
					><img
						src="https://www.startech.com.bd/image/cache/catalog/category-thumb/printer-48x48.png"
						alt="Printer"
						width="48"
						height="48"
				/></span>
				<p>Printer</p>
			</a>
		</div>
		<div class="cat-item">
			<a
				href="https://www.startech.com.bd/photocopier"
				class="cat-item-inner"
			>
				<span class="cat-icon"
					><img
						src="https://www.startech.com.bd/image/cache/catalog/category-thumb/photocopier-48x48.png"
						alt="Photocopier"
						width="48"
						height="48"
				/></span>
				<p>Photocopier</p>
			</a>
		</div>
		<div class="cat-item">
			<a
				href="https://www.startech.com.bd/projector"
				class="cat-item-inner"
			>
				<span class="cat-icon"
					><img
						src="https://www.startech.com.bd/image/cache/catalog/category-thumb/projector-48x48.png"
						alt="Projector"
						width="48"
						height="48"
				/></span>
				<p>Projector</p>
			</a>
		</div>
		<div class="cat-item">
			<a
				href="https://www.startech.com.bd/networking/router"
				class="cat-item-inner"
			>
				<span class="cat-icon"
					><img
						src="https://www.startech.com.bd/image/cache/catalog/category-thumb/router-48x48.png"
						alt="Router"
						width="48"
						height="48"
				/></span>
				<p>Router</p>
			</a>
		</div>
		<div class="cat-item">
			<a href="https://www.startech.com.bd/gadget" class="cat-item-inner">
				<span class="cat-icon"
					><img
						src="https://www.startech.com.bd/image/cache/catalog/category-thumb/gadget-48x48.png"
						alt="Gadget"
						width="48"
						height="48"
				/></span>
				<p>Gadget</p>
			</a>
		</div>
		<div class="cat-item">
			<a
				href="https://www.startech.com.bd/gadget/smart-watch"
				class="cat-item-inner"
			>
				<span class="cat-icon"
					><img
						src="https://www.startech.com.bd/image/cache/catalog/category-thumb/smart-watch-48x48.png"
						alt="Smart Watch"
						width="48"
						height="48"
				/></span>
				<p>Smart Watch</p>
			</a>
		</div>
		<div class="cat-item">
			<a
				href="https://www.startech.com.bd/accessories/converter-and-cable"
				class="cat-item-inner"
			>
				<span class="cat-icon"
					><img
						src="https://www.startech.com.bd/image/cache/catalog/category-thumb/cable-converter-48x48.png"
						alt="Converter &amp; Cable"
						width="48"
						height="48"
				/></span>
				<p>Converter &amp; Cable</p>
			</a>
		</div>
	</div>
</div>
{% endblock content %}
