{% extends "layout_with_breadcrumbs.html" %} {% block content %}
<div class="container ac-layout before-login">
	<div class="panel m-auto">
		<div class="p-head"><h2 class="text-center">Account Login</h2></div>
		<div class="p-body">
			<form action="" method="post" enctype="multipart/form-data">
				<div class="form-group">
					<label class="control-label" for="input-username"
						>E-Mail</label
					>
					<input
						type="text"
						name="email"
						value=""
						placeholder="E-Mail"
						id="input-username"
						class="form-control"
					/>
				</div>
				<div class="form-group">
					<label class="control-label" for="input-password"
						>Password</label
					>
					<input
						type="password"
						name="password"
						value=""
						placeholder="Password"
						id="input-password"
						class="form-control"
					/>
				</div>
				<button type="submit" class="btn btn-primary">Login</button>
			</form>
			<p class="no-account-text"><span>Don't have an account?</span></p>
			<a class="btn st-outline" href="{{ url_for('account.register') }}"
				>Create Your Account</a
			>
		</div>
	</div>
</div>
{% endblock content %}
