{% extends "layout_with_breadcrumbs.html" %} {% block content %}
<div
	class="product-details content"
	itemscope=""
	itemtype="http://schema.org/Product"
>
	<meta itemprop="sku" content="13593" />
	<div class="product-details-summary">
		<div class="container">
			<div class="pd-q-actions">
				<div class="options">
					<span class="add-list" onclick="wishlist.add('13593');"
						><i class="material-icons">bookmark_border</i>
						Wishlist</span
					>
					<span class="add-compare" onclick="compare.add('13593');"
						><i class="material-icons">library_add</i> Compare</span
					>
				</div>
			</div>

			<div class="product-short-info">
				<h1 itemprop="name" class="product-name">{{ product.name }}</h1>
				<table class="product-info-table">
					<tbody>
						<tr class="product-info-group">
							<td class="product-info-label">Price</td>
							<td class="product-info-data product-price">
								Tk.{{ product.base_price }}
							</td>
						</tr>
						<tr class="product-info-group">
							<td class="product-info-label">Regular Price</td>
							<td class="product-info-data product-regular-price">
								Tk.{{ product.base_price }}
							</td>
						</tr>
						<tr class="product-info-group">
							<td class="product-info-label">Status</td>
							<td class="product-info-data product-status">
								{{product.inStock()}}
							</td>
						</tr>
						<tr class="product-info-group">
							<td class="product-info-label">Product Code</td>
							<td class="product-info-data product-code">
								{{product.handle}}
							</td>
						</tr>
						<tr
							class="product-info-group"
							itemprop="brand"
							itemtype="http://schema.org/Thing"
							itemscope=""
						>
							<td class="product-info-label">Brand</td>
							<td
								class="product-info-data product-brand"
								itemprop="name"
							>
								{{ product.brand }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="basic row">
				<div class="sameen_40_div">
					<div class="images product-images">
						<div class="product-img-holder">
							<a
								class="thumbnail"
								href="{{ product.img_urls[0] }}"
								title="{{ product.name }}"
								><img
									class="main-img"
									src="{{ product.img_urls[0] }}"
									title="{{ product.name }}"
									alt="{{ product.name }}"
									width="700"
									height="700"
							/></a>
							<meta
								itemprop="image"
								content="{{ product.img_urls[0] }}"
							/>
						</div>
						<ul class="thumbnails">
							{% for image in product.img_urls %}
							<li>
								<a
									class="sameen_thumbnail"
									href="{{image}}"
									title="{{ product.name }}"
									><img
										src="{{image}}"
										title="{{ product.name }}"
										alt="{{ product.name }}"
								/></a>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>

				<div id="product sameen_60_div">
					<div class="pd-summary">
						<h2>Payment Options</h2>
						<div class="product-price-options">
							<label class="p-wrap cash-payment active">
								<input
									type="radio"
									name="enable_emi"
									checked=""
									value="0"
								/>
								<span class="price"
									>Tk.{{ product.base_price }}</span
								>
								<div class="p-tag fade">
									Online / Cash Payment
								</div>
							</label>
							<label class="p-wrap">
								<input
									type="radio"
									name="enable_emi"
									value="1"
								/>
								<span class="price"
									>{{product.EMI}} ৳/month</span
								>
								<div class="p-tag fade">0% EMI for 1 Year</div>
							</label>
						</div>
						<div class="cart-option">
							<label class="quantity">
								<span class="ctl"
									><i class="material-icons">remove</i></span
								>
								<span class="qty"
									><input
										type="text"
										name="quantity"
										id="input-quantity"
										value="1"
										size="2"
								/></span>
								<span class="ctl increment"
									><i class="material-icons">add</i></span
								>
								<input
									type="hidden"
									name="product_id"
									value="13593"
								/>
							</label>
							<button
								id="button-cart"
								class="btn submit-btn"
								data-loading-text="Loading..."
							>
								Buy Now
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="pd-full">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-md-12">
					<section
						class="specification-tab m-tb-10"
						id="specification"
					>
						<div class="section-head">
							<h2>Specification</h2>
						</div>
						<table
							class="data-table flex-table"
							cellpadding="0"
							cellspacing="0"
						>
							<colgroup>
								<col class="name" />
								<col class="value" />
							</colgroup>
							<thead>
								<tr>
									<td class="heading-row" colspan="3">
										Basic Information
									</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="name">Brand</td>
									<td class="value">{{product.brand}}</td>
								</tr>

								{% for property in product.spec_dict %}

								<tr>
									<td class="heading-row" colspan="3">
										{{ property }}
									</td>

									<td class="value">
										{{ product.spec_dict[property] }}
									</td>
								</tr>

								{% endfor %}
							</tbody>
						</table>
					</section>

					<section
						class="ask-question q-n-r-section bg-white m-tb-15"
						id="ask-question"
					>
						<div class="section-head">
							<div class="title-n-action">
								<h2>Questions</h2>
								<p class="section-blurb">
									Have question about this product? Get
									specific details about this product from
									expert.
								</p>
							</div>
							<div class="q-action">
								<a
									href="https://www.startech.com.bd/account/question?product_id=13593"
									class="btn st-outline"
									>Ask Question</a
								>
							</div>
						</div>
						<div id="question">
							<div class="empty-content">
								<span class="icon material-icons">textsms</span>
								<div class="empty-text">
									There are no questions asked yet. Be the
									first one to ask a question.
								</div>
							</div>
						</div>
					</section>
					<section
						class="review q-n-r-section bg-white m-tb-15"
						id="write-review"
					>
						<div class="section-head">
							<div class="title-n-action">
								<h2>Reviews (0)</h2>
								<p class="section-blurb">
									Get specific details about this product from
									customers who own it.
								</p>
								<div class="average-rating"></div>
							</div>
							<div class="q-action">
								<a
									href="https://www.startech.com.bd/account/review?product_id=13593"
									class="btn st-outline"
									>Write a Review</a
								>
							</div>
						</div>
						<div id="review">
							<div class="empty-content">
								<span class="icon material-icons"
									>assignment</span
								>
								<div class="empty-text">
									This product has no reviews yet. Be the
									first one to write a review.
								</div>
							</div>
						</div>
					</section>
				</div>
				<div class="col-lg-3 col-md-12 c-left">
					<section class="bought-together-list">
						<h3>Frequently Bought Together</h3>
						{% for paired_prod in product.bought_together %}
						<div class="p-s-item">
							<div class="image-holder">
								<a
									href="{{ url_for('product.product_view', product_id=paired_prod.id) }}"
									><img
										src="{{ paired_prod.img_urls[0] }}"
										alt="{{ paired_prod.name }}"
										width="80"
										height="80"
								/></a>
							</div>
							<div class="caption">
								<h4 class="product-name">
									<a
										href="{{ url_for('product.product_view', product_id=paired_prod.id) }}"
										>{{ paired_prod.name }}</a
									>
								</h4>
								<div class="p-item-price price">
									<span>Tk.{{ paired_prod.base_price }}</span>
								</div>
								<div class="actions">
									<span
										class="btn-compare"
										><i class="material-icons"
											>library_add</i
										>Add to Compare</span
									>
								</div>
							</div>
						</div>
						{% endfor %}
					</section>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
