{% extends "layout_with_breadcrumbs.html" %} {% block content %}
<div
	class="product-details content"
	itemscope=""
	itemtype="http://schema.org/Product"
>
	<meta itemprop="sku" content="13593" />
	<div class="product-details-summary">
		<div class="container">
			<div class="pd-q-actions">
				<div class="options">
					<span class="add-list" onclick="wishlist.add('13593');"
						><i class="material-icons">bookmark_border</i>
						Wishlist</span
					>
					<span class="add-compare" onclick="compare.add('13593');"
						><i class="material-icons">library_add</i> Compare</span
					>
				</div>
			</div>

			<div class="product-short-info">
				<h1 itemprop="name" class="product-name" id="product-name">{{ product.name }}</h1>
				{% if current_user.is_admin %}
				<br>
					<a
						class="edit_product"
						href="{{ url_for('admin.edit_product', product_id=product.id) }}"
					>
						Edit Product
					</a>
				{% endif %}
				<table class="product-info-table">
					<tbody>
						<tr class="product-info-group">
							<td class="product-info-label">Price</td>
							<td class="product-info-data product-price">
								Tk.{{ product.base_price }}
							</td>
						</tr>
						<tr class="product-info-group">
							<td class="product-info-label">Regular Price</td>
							<td class="product-info-data product-regular-price">
								Tk.{{ product.base_price }}
							</td>
						</tr>
						<tr class="product-info-group">
							<td class="product-info-label">Status</td>
							<td class="product-info-data product-status">
								{{product.inStock()}}
							</td>
						</tr>
						<tr class="product-info-group">
							<td class="product-info-label">Product Code</td>
							<td class="product-info-data product-code">
								{{product.handle}}
							</td>
						</tr>
						<tr
							class="product-info-group"
							itemprop="brand"
							itemtype="http://schema.org/Thing"
							itemscope=""
						>
							<td class="product-info-label">Brand</td>
							<td
								class="product-info-data product-brand"
								itemprop="name"
							>
								{{ product.brand }}
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="basic row">
				<div class="sameen_40_div">
					<div class="images product-images">
						<div class="product-img-holder">
							<a
								class="thumbnail"
								href="{{ product.img_urls[0] }}"
								title="{{ product.name }}"
								><img
									id="main_img"
									class="main-img"
									src="{{ product.img_urls[0] }}"
									title="{{ product.name }}"
									alt="{{ product.name }}"
									width="700"
									height="700"
							/></a>
							<meta
								itemprop="image"
								content="{{ product.img_urls[0] }}"
							/>
						</div>
						<ul class="thumbnails">
							{% for image in product.img_urls %}
							<li>
								<a
									class="sameen_thumbnail"
									onclick="changeImage(this)"
									lnk="{{image}}"
									title="{{ product.name }}"
									><img
										src="{{image}}"
										title="{{ product.name }}"
										alt="{{ product.name }}"
									/>
								</a>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>

				<div id="product sameen_60_div">
					<div class="pd-summary">
						<h2>Key Features</h2>
						<div class="short-description">
							<ul>
								{% for property in product.mainProperties() %}
								<li>
									<span class="just-color-span"
										>{{ property }}</span
									>
									:<br />
									{{ product.mainProperties()[property] }}
								</li>
								{% endfor %}
							</ul>
						</div>
						<div class="stickers">
							<div class="sticker reward">
								<span class="material-icons">stars</span>
								<span class="points">Rating: </span>
								<span class="text"
									>{{ product.rating }} stars</span
								>
							</div>
						</div>
						<br /><br />

						<h2>Payment</h2>
						<div class="product-price-options">
							<label class="p-wrap cash-payment active">
								<span class="price">
									<span class="price-new" id="product-price"
										>Tk.{{
										(product.base_price*(1-product.discount))|round|int
										}}</span
									>

									{% if product.discount > 0 %}
									<span class="price-old"
										>Tk.{{ product.base_price }}</span
									>
									{% endif %}
								</span>
							</label>
						</div>
						<div class="cart-option">
							<label class="quantity">
								<input
									type="number"
									name="qty"
									id="cart-add-qty"
									value="1"
									min="0"
									max="{{ product.stock }}"
								/>
							</label>
							<button
								id="button-cart"
								class="btn submit-btn"
								data-loading-text="Loading..."
							>
								Buy Now
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="pd-full">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-md-12">
					<section
						class="specification-tab m-tb-10"
						id="specification"
					>
						<div class="section-head">
							<h2>Specification</h2>
						</div>
						<table
							class="data-table flex-table"
							cellpadding="0"
							cellspacing="0"
						>
							<colgroup>
								<col class="name" />
								<col class="value" />
							</colgroup>
							<thead>
								<tr>
									<td class="heading-row" colspan="2">
										Basic Information
									</td>
								</tr>
							</thead>
							<tbody>
								{% for property in product.mainProperties() %}

								<tr>
									<td class="name">{{ property }}</td>

									<td class="value">
										{{ product.spec_dict[property] }}
									</td>
								</tr>

								{% endfor %}
							</tbody>
							<thead>
								<tr>
									<td class="heading-row" colspan="2">
										Detailed Specifications
									</td>
								</tr>
							</thead>
							<tbody>
								{% for property in product.otherProperties() %}

								<tr>
									<td class="name">{{ property }}</td>

									<td class="value">
										{{ product.spec_dict[property] }}
									</td>
								</tr>

								{% endfor %}
							</tbody>
						</table>
					</section>

					<section
						class="ask-question bg-bt-gray q-n-r-section m-tb-15"
						id="ask-question"
					>
						<div class="section-head">
							<div class="title-n-action">
								<h2>User Comments</h2>
								<p class="section-blurb">
									Have a concern about this product? Get in
									Touch!
								</p>
							</div>
						</div>

						<div class="comment_thread">
							<div class="question-wrap">
								<div class="sameen_comment_author">
									<h1>Demo</h1>
								</div>
								<p class="sameen_comment_body">
									This is a static comment. Dynamic Ones shown
									below
								</p>
							</div>

							<div class="sub_comments">
								<div class="question-wrap">
									<div class="sameen_comment_author">
										<h1>Demo</h1>
									</div>
									<p class="sameen_comment_body">
										This is a static subcomment
									</p>
								</div>
							</div>
						</div>

						{%for row in main_comments%}

						<div class="comment_thread">
							<div class="question-wrap">
								<div class="sameen_comment_author">
									<h1>{{row[0]}}</h1>
								</div>
								<p class="sameen_comment_body">{{row[3]}}</p>
							</div>

							<div class="sub_comments">
								{% for sub_row in sub_comments[ row[1] ] %}
								<div class="question-wrap">
									<div class="sameen_comment_author">
										<h1>{{sub_row[0]}}</h1>
									</div>
									<p class="sameen_comment_body">
										{{sub_row[3]}}
									</p>
								</div>
								{% endfor %}

								<form method="POST" class="comment_form">
									<input
										hidden
										name="product_id"
										value="{{product.id}}"
									/>
									<input
										class="comment_input"
										name="comment"
										placeholder="Reply to Comment"
										value=""
									/>
									<input
										hidden
										name="comment_on"
										value="{{row[1]}}"
									/>

									<button
										type="submit"
										class="remove_btn_style"
									>
										Reply
									</button>
								</form>
							</div>
						</div>

						{% endfor %}

						<form method="POST" class="comment_form">
							<input
								hidden
								name="product_id"
								value="{{product.id}}"
							/>

							<input
								class="comment_input"
								name="comment"
								placeholder="Add Comment"
								value=""
							/>

							<button type="submit" class="remove_btn_style">
								Comment
							</button>
						</form>
					</section>
				</div>
				<div class="col-lg-3 col-md-12 c-left">
					
					<section
						class="ask-question bg-bt-gray q-n-r-section m-tb-15"
						id="ask-question"
					>
						<div class="section-head">
							<div class="title-n-action">
								<h2>User Reviews</h2>
								<p class="section-blurb">
									We appreciate your feedback.
								</p>
							</div>
						</div>

						<div class="comment_thread">
							<div class="question-wrap">
								<div class="sameen_comment_author">
									<h1>Demo</h1>
								</div>
								<p class="sameen_comment_body">
									This is a static Review. Dynamic Ones shown
									below
								</p>
							</div>
						</div>

						{%for row in reviews%}

						<div class="comment_thread">
							<div class="purple_borders">
								<div class="sameen_comment_author">
									<h1>{{row[0]}}</h1>
									<h3>Rating: {{row[1]}}/5</h3>
								</div>

								<p class="sameen_comment_body">{{row[2]}}</p>
							</div>
						</div>

						{% endfor %}

						<form method="POST" class="comment_form">
							<input
								hidden
								name="product_id"
								value="{{product.id}}"
							/>

							<label for="vol">Rating (0 to 5):</label>
							<input type="range" name="rating" min="0" max="5" />

							<input
								class="comment_input"
								name="review_text"
								placeholder="Add Review"
								value=""
							/>

							<button type="submit" class="remove_btn_style">
								Review
							</button>
						</form>
						<section class="bought-together-list">
							<h3>Frequently Bought Together</h3>
							{% for paired_prod in product.bought_together %}
							<div class="p-s-item">
								<div class="image-holder">
									<a
										href="{{ url_for('product.product_view', product_id=paired_prod.id) }}"
										><img
											src="{{ paired_prod.img_urls[0] }}"
											alt="{{ paired_prod.name }}"
											width="80"
											height="80"
									/></a>
								</div>
								<div class="caption">
									<h4 class="product-name">
										<a
											href="{{ url_for('product.product_view', product_id=paired_prod.id) }}"
											>{{ paired_prod.name }}</a
										>
									</h4>
									<div class="p-item-price price">
										<span>Tk.{{ paired_prod.base_price }}</span>
									</div>
								</div>
							</div>
							{% endfor %}
						</section>
					</section>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
